@import './inc/inc/root.css';
@import './inc/class.css';
@import './inc/id.css';
@import './inc/actions.css';

/* Video */
video[plugin=svp] {
    display: block;
    width: 100%;
    height: 100%;
    z-index: var(--down-index);
    background-color: var(--background-color);
}
